# dependencies
**/node_modules/

# env files
**/.env
**/.env.*

# logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# build output
**/dist/
**/build/
**/coverage/

# Expo / React Native
**/.expo/
**/android/build/
**/android/.gradle/

# OS + editor
**/.vscode/
**/.idea/
**/.DS_Store
**/Thumbs.db

# Excluded folders
server/

# Python/Rasa artifacts
.rasa/
.venv/
new_venv/
venv_flask/
venv_rasa/
models/
*.db
action_server.log
action_server.err.log
rasa_server.log
rasa_server.err.log

# Python bytecode
__pycache__/
*.pyc
venv/

# local python env (VERY IMPORTANT)
rasaenv/

# secrets
flask_backend/credentials.json
flask_backend/token.json